[printer]
model = QL-700
usb = 0x04f9:0x2042
serial = 000H123456789

[web]
port = 9100
path = web/
adminpass = 42758
ip = 192.168.0.46

[default]
font_name = Arial.ttf
font_size = 72
font_size_small = 36
output_size_width = 732
output_size_height = 183
output_file = output.jpg
debug = False

[archives]
owner = Propriété de John Doe - 1-800-555-1987
code = 0

[cable]
center = 100

[textimage]
max_image = 0.50

[barcode]
height = 0.5

[address]
name = John Doe
civic = 44-2020 Av. Finfin
region = Demoville, Exempleregion, Fauxpays
postal = C0D3 P05TAL

[app]
image_width = 64
image_height = 64

